{% extends 'template.html' %}
{% set active_page = 'detail' %}

{% block external_css %}
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Your Booking</div>
                <div class="panel-body">
                    <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true"
                           data-show-toggle="true" data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                           data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-field="bid" data-sortable="true">Booking ID</th>
                            <th data-field="date_from" data-sortable="true">Date From</th>
                            <th data-field="date_to" data-sortable="true">Date To</th>
                            <th data-field="panel_name" data-sortable="true">Panel Name</th>
                            <th data-field="panel-image">Panel Image</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in booking_detail %}
                            <tr>
                                <td>{{ item.bid }}</td>
                                <td>{{ item.date_from }}</td>
                                <td>{{ item.date_to }}</td>
                                <td>{{ item.name }}</td>
                                <td><img class="center-block"
                                     src="{{ url_for('static', filename='img/' + item.panel_path) }}"
                                     height="200" width="300" style="margin-bottom: 30px;"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
{% endblock %}

{% block external_js %}
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
{% endblock %}
