{% extends 'template.html' %}
{% set active_page = 'reserve' %}

{% block external_css %}
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!--progress-bar-->
    <div class="row">
        <div class="col-lg-12">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                     aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
    </div>
    <!--/progress-bar-->

    <!--payment side-->
    <div class="col-lg-6">
        <!--payment panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                    <svg class="glyph stroked key ">
                        <use xlink:href="#stroked-key"/>
                    </svg>
                    Payment Details
                </h3>
            </div>
            <div class="panel-body">
                <form role="form" id="payment-form" action="confirm">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cardNumber">CARD NUMBER</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="cardNumber"
                                           placeholder="Valid Card Number" required autofocus data-stripe="number"/>
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <div class="col-xs-12 col-lg-12 pl-ziro">
                                    <label for="expMonth">EXPIRATION DATE</label>
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" name="expMonth" placeholder="MM"
                                           required data-stripe="exp_month"/>
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" name="expYear" placeholder="YY" required
                                           data-stripe="exp_year"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">CV CODE</label>
                                <input type="password" class="form-control" name="cvCode" placeholder="CV" required
                                       data-stripe="cvc"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <br>
                                <label for="couponCode">COUPON CODE</label>
                                <input type="text" class="form-control" name="couponCode"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <br><br>
                            <button class="btn btn-success btn-lg btn-block" type="submit">Submit Payment</button>
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col-xs-12">
                            <p class="payment-errors"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- CREDIT CARD FORM ENDS HERE -->
    </div>
    <!--/payment side-->

    <!--detail side-->
    {% for item in panel_list_by_pid %}
        <div class="col-lg-6">
        <div class="panel panel-info">
        <div class="panel-heading">
            <svg class="glyph stroked clipboard with paper">
                <use xlink:href="#stroked-clipboard-with-paper"/>
            </svg>
            Booking Details
        </div>

        <div class="panel-body">
        <!--img-->
        <div class="row">
            <img class="center-block" src="{{ url_for('static', filename='img/' + item.panel_path) }}" height="200"
                 weight="300">
            <hr>
        </div>
        <!--/img-->

        <!--panel details-->
        <div class="row">
            <div class="table-responsive">
                <h4>&emsp;Panel Details</h4>
                <table class="table table-striped">
                    <tr>
                        <td style="font-weight:bold;">Name</td>
                        <td>{{ item.name }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Region</td>
                        <td>{{ item.region }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Location</td>
                        <td>{{ item.location }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Height</td>
                        <td>{{ item.height }} m</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Width</td>
                        <td>{{ item.width }} m</td>
                    </tr>
                    <td style="font-weight:bold">Opening Hours</td>
                    <td>08:00 - 22:00 &emsp;&emsp;&emsp; Mon - Sun</td>
                    <tr>
                        <td style="font-weight:bold">Airtime Rate (daily)</td>
                        <td>HKD {{ item.airtime_rate }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Pedestrain Flow (daily)</td>
                        <td>{{ item.pedestrain_flow }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Capacity</td>
                        <td>{{ item.cap }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Number of Booking</td>
                        <td>{{ item.used }}</td>
                    </tr>
                </table>
                <br>
                {% for image in panel_all_image %}
                    <img src="{{ url_for('static', filename='img/' + image.panel_path) }}" height="150" width="250">
                {% endfor %}
            </div>
        </div>
    {% endfor %}
<!--panel details-->

<!--booking detail-->
<div class="row">
    <hr>
    <br>
    <div class="table-responsive">
        <h4>&emsp;Booking Details</h4>
        <table class="table table-striped">
            <tr>
                <td style="font-weight:bold">Date From</td>
                <td>{{ session['date_from'] }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Date To</td>
                <td>{{ session['date_to'] }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Type</td>
                <td>{{ session['type'] }}</td>
            </tr>
        </table>
        <hr>
    </div>
</div>
<!--/booking detail-->
</div>
</div>
</div>
    <!--/detail side-->
    </div>
    <!--/row-->
{% endblock %}

{% block external_js %}
    <script src="{{ url_for('static', filename='js/demo_display.js') }}"></script>
{% endblock %}