{% extends  'template.html' %}
{% set active_page='quickstart' %}


{% block external_css %}
    <link href="{{ url_for('static', filename='css/datepicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <!--left hand side-->
        <div class="col-lg-6">
            <!--preference panel-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <svg class="glyph stroked checkmark">
                        <use xlink:href="#stroked-checkmark"/>
                    </svg>
                    Preference
                </div>
                <div class="panel-body">
                    <form action="" method="post">
                        <div class="form-group" id="file_type">
                            <label>Region</label>
                            <select id="region" required class="form-control" name="region" autofocus="">
                                <option selected>{{ session['region'] }}</option>
                                <option>HKI</option>
                                <option>KLN</option>
                                <option>NT</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Business Mode</label>
                            <select id="mode" required class="form-control" name="mode" autofocus="">
                                <option selected>{{ session['mode'] }}</option>
                                <option>sole</option>
                                <option>1-5</option>
                                <option>1-10</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-inline">
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <label class="control-label">Date From</label>
                                    <input id="date_from" autofocus="" type="text" class="form-control form-control-1 input-sm from"
                                           name="date_from"
                                           placeholder="{{ session['date_from'] }}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <label class="control-label">Date To</label>
                                    <input id="date_to" autofocus="" type="text" class="form-control form-control-1 input-sm from"
                                           name="date_to"
                                           placeholder="{{ session['date_to'] }}">
                                </div>
                                <br>
                                <hr>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Min Price</label>
                                    <select id="min_price" required class="form-control" name="min_price" autofocus="">
                                        <option selected>{{ session['min_price'] }}</option>
                                        <option>0</option>
                                        <option>100000</option>
                                        <option>200000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Max. Price</label>
                                    <select id="max_price" required class="form-control" name="max_price" autofocus="">
                                        <option selected>{{ session['max_price'] }}</option>
                                        <option>100000</option>
                                        <option>200000</option>
                                        <option>300000</option>
                                    </select>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="col-lg-offset-10">
                            <button type="button" onclick="refresh()"
                                    class="btn btn-warning btn-group btn-group-justified">
                                <strong>Refresh</strong></button>
                        </div>
                    </form>
                </div>
            </div>
            <!--/preference panel-->

            <!--result panel-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <svg class="glyph stroked tag">
                        <use xlink:href="#stroked-tag"/>
                    </svg>
                    Quicksearch
                </div>
                <div class="panel-body" style="height: 400px; overflow-y:scroll">
                    {% for item in suitable_panel %}
                        <div class="col-lg-6">
                            <div class="hovereffect">
                                <img id="refresh_img" class="center-block"
                                     src="{{ url_for('static', filename='img/' + item.panel_path) }}"
                                     height="200" width="300" style="margin-bottom: 30px;">
                                <a id="refresh_pid" href="/booking?pid={{ item.pid }}">
                                    <div class="overlay">
                                        <h2 id="refresh_name">{{ item.name }}</h2>
                                        <h2 id="refresh_airtime_rate">HKD {{ item.airtime_rate }}</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!--/result panel-->
        </div>
        <!--/left hand side-->

        <!--right hand side-->
        <div class="col-lg-6">
            <div id="map"></div>
        </div>
        <!--right hand side-->
    </div>
{% endblock %}

{% block external_js %}
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datepicker.min.js') }}"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>
            var locations = [
                {% for item in suitable_panel %}
                    ['{{ item.name }}', {{ item.latitude }}, {{ item.longitude }}],
                {% endfor %}
                ['Maroubra Beach', -33.950198, 151.259302, 1]
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: new google.maps.LatLng(22.2863939, 114.1515148),
            });

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }

        var startDate = new Date();
        var fechaFin = new Date();
        var FromEndDate = new Date();
        var ToEndDate = new Date();


        $('.from').datepicker({
            autoclose: true,
            minViewMode: 1,
            format: 'yyyy-mm'
        }).on('changeDate', function (selected) {
            startDate = new Date(selected.date.valueOf());
            startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            $('.to').datepicker('setStartDate', startDate);
        });

        $('.to').datepicker({
            autoclose: true,
            minViewMode: 1,
            format: 'yyyy-mm'
        }).on('changeDate', function (selected) {
            FromEndDate = new Date(selected.date.valueOf());
            FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
            $('.from').datepicker('setEndDate', FromEndDate);
        });
    </script>
    <script>
        array = [];

        function refresh() {
            var region = $("#region").val();
            var mode = $("#mode").val();
            var date_from = $("#date_from").val();
            var date_to = $("#date_to").val();
            var min_price = $("#min_price").val();
            var max_price = $("#max_price").val();

            $.ajax({
                method: 'post',
                url: '/refresh',
                dataType: 'json',
                data: "region=" + region + "&mode=" + mode + "&min_price=" + min_price + "&max_price=" + max_price,
                success: function (result) {
                    $.each(result, function (key, val) {
                        console.log(val);
                        $.each(val, function (key, val){
                            console.log(val);
                            if (key == "pid") {
                                $("#refresh_img").empty();
                                 }
                        })
                    });
                }
            });
        }
    </script>
{% endblock %}