<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!--css-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    {% block external_css %}{% endblock %}

    <!--icon-->
    <script src="{{ url_for('static',filename='js/icon.js') }}"></script>
</head>

<body>
<!--navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <!--brand-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Advertisement Panel</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Advertisement</span>Panel</a>
            <!--brand-->

            <!--user menu-->
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        User<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/profile">
                                <svg class="glyph stroked male-user">
                                    <use xlink:href="#stroked-male-user"></use>
                                </svg>
                                Profile</a>
                        </li>
                        <li>
                            <a href="/logout">
                                <svg class="glyph stroked cancel">
                                    <use xlink:href="#stroked-cancel"></use>
                                </svg>
                                Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
<!--/navbar-->

<!--sidebar-->
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    {% set sidebar= [ ('quickstart','/quickstart', 'glyph stroked heart', '#stroked-heart', 'Quickstart Booking'),
                      ('reserve','/location', 'glyph stroked app-window', '#stroked-app-window', 'Formal Reserve'),
                      ('detail','/detail', 'glyph stroked table', '#stroked-table', 'Booking Details')
                      ] %}

    {% set active_page = active_page|default('quickstart') %}

    <ul class="nav menu">
        {% for id, href, svg, xlink, a in sidebar %}

        <li {% if id==active_page %} class="active" {% endif %}>
        <a href="{{ href|e }}">
            <svg class="{{ svg|e }}">
                <use xlink:href="{{ xlink|e }}"></use>
            </svg>
            {{ a|e }}
        </a>
        </li>
        {% endfor %}
    </ul>
</div>
<!--/.sidebar-->

<!--main-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <!--inner-navbar-->
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="/">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="quickstart.html">{{ title }}</a></li>
        </ol>
    </div>
    <!--/inner-navbar-->

    <h3>{{ title }}</h3>

    {% block body %}{% endblock %}
</div>
<!--/main-->


<!--core bootstrap js-->
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% block external_js %}{% endblock %}

<script>
    /*core js*/
    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);
    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>

</body>
</html>
